@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@radix-ui/colors/slate.css";
@import "@radix-ui/colors/slate-dark.css";

@layer base {
  :root {
    --background: 96 52% 98%;
    --foreground: 96 59% 2%;
    --muted: 96 16% 95%;
    --muted-foreground: 96 12% 27%;
    --popover: 96 52% 98%;
    --popover-foreground: 96 59% 2%;
    --card: 96 52% 98%;
    --card-foreground: 96 59% 2%;
    --border: 96 6% 90%;
    --input: 96 6% 90%;
    --primary: 96 43% 77%;
    --primary-foreground: 96 43% 17%;
    --secondary: 96 1% 81%;
    --secondary-foreground: 96 1% 21%;
    --accent: 96 10% 76%;
    --accent-foreground: 96 10% 16%;
    --destructive: 16 85% 38%;
    --destructive-foreground: 0 0% 100%;
    --ring: 96 43% 77%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 96 57% 0%;
    --foreground: 96 13% 97%;
    --muted: 96 16% 5%;
    --muted-foreground: 96 12% 73%;
    --popover: 96 57% 0%;
    --popover-foreground: 96 13% 97%;
    --card: 96 57% 0%;
    --card-foreground: 96 13% 97%;
    --border: 96 6% 12%;
    --input: 96 6% 12%;
    --primary: 96 43% 77%;
    --primary-foreground: 96 43% 17%;
    --secondary: 96 18% 15%;
    --secondary-foreground: 96 18% 75%;
    --accent: 96 26% 21%;
    --accent-foreground: 96 26% 81%;
    --destructive: 16 85% 54%;
    --destructive-foreground: 0 0% 0%;
    --ring: 96 43% 77%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


/* add this snippet in your globals.css file */

.rdp-vhidden {
    @apply hidden;
  }
